.register {
    margin: 0 auto;
    width: 92%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.register_title {
    color: var(--dark-brown);
    font-size: 2.7rem;
    margin-bottom: 15px;
}

.register_subtitle {
    background-color: var(--dark-brown);
    width: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: var(--tan);
    padding: 10px;
    border-radius: 10px;
}

.register_subtitle-link {
    text-decoration: none;
    color: var(--teal);
}

.register_form-input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 15px;
    max-width: 450px;
}

.register_form-input-label {
    color: var(--dark-brown);
}

.register_form-input {
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--dark-brown);
    padding-left: 10px;
}

.register_form-submit-btn {
    width: 80%;
    margin: 0 auto;
    height: 40px;
    border-radius: 10px;
    background-color: var(--dark-brown);
    color: var(--tan);
    border: none;
    font-size: 1rem;
    max-width: 450px;
    margin-top: 20px;
    letter-spacing: 1.5px;
}