.header {
    width: 95%;
    background-color: var(--tan);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 15px;
    padding-right: 20px;
    height: 80px;
}

.header_user-icon {
    width: 50px
}

.header_logo {
    width: 100px
}

.header_nav {
    display: flex;
    gap: 20px;
}

.header_nav-link {
    color: var(--dark-brown);
    text-decoration: none;
    font-weight: 500;
    font-size: .95rem;
}